<table>
	<thead>
	<tr>
		<th>Ano</th>
		<th>Produto</th>
		<th>Preço</th>
	</tr>
	</thead>
	<tbody>
	<tr v-for="resultado in resultados">
		<td>{{ resultado.ano }}</td>
		<td>{{ resultado.produto }}</td>
		<td>{{ resultado.preco }}</td>
	</tr>
	</tbody>
</table>